---
import Heading from "../ui/Heading.astro";
import Button from "../ui/Button.astro";
import { Icon } from "astro-icon/components";
---

<section> 
  <div
    class="w-full border-b bg-gradient-to-b from-mint-100 to-transparent dark:from-mint-800 dark:border-mint-950 border-mint-100"
    id="contact"
  >
    <div class="mx-auto max-w-5xl px-8 py-24 max-sm:py-12 text-center">
      <div class="flex justify-center items-center gap-3 mb-4">
        <Icon name="paperplane" aria-hidden="true" class="w-8 h-8 text-mint-600 dark:text-mint-300" />
        <Heading
          level={1}
          textGradient= "Contacto"
        />
      </div>

      <div class="flex justify-center items-center gap-3 mb-4">
        <Icon name="envelope" aria-hidden="true" class="w-6 h-6 text-mint-600 dark:text-mint-300" />
        <p class="text-xl text-gray-700 dark:text-gray-300 select-all cursor-text">
        gonzapm7@gmail.com
      </p>
      </div>
    </div>
  </div>
</section>
