---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2017 - 2022",
    title: "Grado en Desarrollo de Videojuegos",
    company: "Universidad Complutense de Madrid",
    description:
      "Desarrollador de aplicaciones informáticas. Ingeniero de proyectos de entretenimiento. Dirección de proyectos digitales interactivos. Conocimiento de tipos y estructuras de datos más adecuadas a la resolución de problemas. Manejo de técnicas y herramientas de expresión y representación artística.",
  },
  {
    date: "01/2025 - 05/2025",
    title: "Curso en Animación 3D: de la idea a la comercialización",
    company: "RTVE Instituto",
    description:
      "Comprensión sólida de los principios, estilos y técnicas fundamentales de la animación. Desarrollo de proyectos de animación desde cero en técnicas de stop motion, animación 2D y 3D.",
  },
  
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
